@page "/"

<PageTitle>WeRunApp</PageTitle>

<div>


<h1>Hello, Please Log in or Sign Up!</h1>
</div>
<div>
<NavLink href="Identity/Account/Login">Log in</NavLink>
<NavLink href="Identity/Account/SignUp">Sign Up</NavLink>
</div>

