@page "/HomeLogin"

<PageTitle>WeRunApp</PageTitle>

<h1>Hello, Please Log in or Sign Up!</h1>
<NavLink href="Identity/Account/RunLog">Start a Run</NavLink>
<NavLink href="Identity/Account/RunHistory">See your Run History</NavLink>
<NavLink href="Identity/Account/Goals">See your Goals</NavLink>
<NavLink href="Identity/Account/UserAccountInfo">User Account</NavLink>
<NavLink href="Identity/Account/SignOut">Sign Out</NavLink>
