@page "/login"

<PageTitle>Login</PageTitle>

<h1>Login</h1>
<div>
    <span>Username</span>
   <!--- <span> or email</span> -->
   <input>
   <span>Password</span>
   <input />
</div>


@code {
   
}
