@page "/signup"

<PageTitle>Sign Up</PageTitle>

<h1>Sign Up</h1>

<div>
    Enter your information below:

    Username: <input />

    First Name: <input />

    Last Name: <input />

    Email Address: <input />

    New Password: <input />

    Gender: <input />

    Date Of Birth: <input />

</div>
<FluentButton>Continue</FluentButton>
@code {
   //insert record and redirect to logged in user
}
