@page "/signup"
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Sign Up</PageTitle>

<h1>Sign Up</h1>

<div>
    <EditForm Model="@newUser" OnValidSubmit="SignUp">
    Enter your information below:

        Username:  <InputText @bind-Value="newUser.Username" />

        First Name:  <InputText @bind-Value="newUser.FirstName" />

        Last Name:  <InputText @bind-Value="newUser.LastName" />

        Email Address: <InputText @bind-Value="newUser.Email" />

        New Password: <InputText @bind-Value="newUser.Password" />

        Gender: <InputText @bind-Value="newUser.Gender" />

        Date Of Birth:  <InputText @bind-Value="newUser.DateOfBirth" />


        <button type="submit">Register</button>
    </EditForm>
</div>
<FluentButton>Continue</FluentButton>

@code {
    private newUser newUser = new NewUser();

    private async Task SignUp()
    {
        var user = new User { UserName = registerModel.Email, Email = registerModel.Email };
        var result = await UserManager.CreateAsync(user, registerModel.Password);
        if (result.Succeeded)
        {
            // Optionally sign the user in or confirm email
            NavigationManager.NavigateTo("/HomeLogin");
        }
        else
        {
            // Handle sign up failure
        }
    }

    public class NewUser
    {
        public string UserName { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public string Gender { get; set; }
        public string DateOfBirth { get; set; }

        public DateTime DateJoined

    }
}
